body {
    background-color: yellowgreen;
    text-align: left;
    font-family: sans-serif;
    margin-left: 10% ;
}
.portfolio-img {
    width: 50px;
    float: right;
}
.name {
    color: white;
    font-family: Franklin Gothic Medium;
}
.title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: yellow;
}
li {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}